html,
body {
    height: 100%;
    min-width: 800px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #EEE;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*brings it on top*/
    z-index: 1000;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.login-box {
    --h: 300px;
    --w: 500px;
    background: transparent;
    /*border: 1px solid #888;*/
    width: var(--w);
    height: var(--h);
    /*center box*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*-half of height and width to place in actual center*/
    margin-left: calc(var(--w) / -2);
    margin-top: calc(var(--h) / -2);
}



.header {
    background: #FFF;
    height: 100px;
    width: 100%;
    line-height:90px;
    /* Cancel out unneeded .card properties */
    border-width: 0 0 2px 0;
    border-radius: 0;
    padding-left: 20px;
    font-weight: 300;
    color: #333;
    overflow: visible;
    position: fixed;
    z-index: 999;
    transition: height 0.3s;
}

.header.smaller {
    height: 50px;
    line-height: 40px;
}

.nav-up {
    top: -500px;
}

.header-text {
    color:brown;
    display:inline-block;
    margin-top:0;
    margin-left:5px;
    font-family: 'Lobster', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    transition: font-size 0.6s;
}

.header-text.smaller {
    color:brown;
    display:inline-block;
    margin-top:0;
    margin-left:5px;
    font-family: 'Lobster', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
}

.header-text a {
    text-decoration: none;
    color: brown;
}

.right-navigation {
    float: right;
}

.about {
    font-size: 20px;
    text-decoration: underline;
    /*vertical-align: top;*/
    position:relative;
    /*height:40px;*/
    margin: 5px 200px 0 0;
    overflow: hidden;
    display:inline-block;
    transition: all 0.3s;
}

.about.smaller {
    font-size: 16px;
}

.login {
    font-size: 20px;
    text-decoration: underline;
    /*vertical-align: top;*/
    position:relative;
    /*height:40px;*/
    margin: 5px 100px 0 0;
    overflow: hidden;
    display:inline-block;
    transition: all 0.3s;
}

.login.smaller {
    font-size: 16px;
}


.first-main-div {
    position:relative;
    width:100%;
}

.about-text{
    margin-top: 0px;
}

.text-area{
    margin: 50px auto;
    width: 70%;
}

.main-picture {
    margin-top:100px;
    opacity: 1;
    display: block;
    width:100%;
    height: auto;
    transition: opacity 0.2s 0s ease;
    backface-visibility: hidden;
}

.pop-up-button {
    text-align:center;
    transition: 0.5s ease;
    /*max-height: 500px;*/
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.pop-up-register {
    display:none;
    position: relative;
    margin: 0 auto;
}

.create-email-field {
    display:none;
}

.login,.about,.pop-up-button:hover {
    cursor:pointer;
}

.first-main-div:hover .main-picture{
    opacity: 0.5;

}

.first-main-div:hover .pop-up-button {
    opacity: 1;

}

.pop-up-button-text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.sign-up-box {
    background-color: #4CAF50;
    color: white;
    display: none;
}

.sign-in, .about-text {
    margin-top:50px;
    text-align:center;
}

.vertical-line {
    background: black;
    content: '';
    display: block;
    height: 2px;
    margin: 0.75em auto 0 auto;
    position: relative;
    width: 10em;
}

.register-vertical-line {
    background: black;
    content: '';
    display: none;
    height: 2px;
    margin: 0.75em auto 0 auto;
    position: relative;
    width: 10em;
}

.username-field, .password-field {

    margin: 20px 30px 0 30px;
    /*padding: 10px;*/
    width: 50%;
}

input[type=text], [type=password]{
    width: 30%;
    margin-right:50%;
    margin-left:35%;
    padding: 13px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-size:14px
}

.error-login {
    display: none;
    color: red;
    padding: 2px 27px;
}

.login-div-body{
    margin-top: 100px;
}

.login-button {
    margin-left:35%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top:20px;
    /*margin: 8px 30px;*/
    border: none;
    cursor: pointer;
    width: 30%;
    /*height: 10%;*/
    font-weight: bold;
    font-size: medium;
}

.about-text {

}